.container2 {
    height: 400px;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
/*    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 140px; /*bygbha ymen we 4mal*/
/**/    transform: translate(-50%, -50%);
}
.col {
/*    box-shadow: rgb(74 50 93) 0px 50px 145px -20px, rgb(0 0 0 / 92%) 0px 30px 60px -4px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    -webkit-box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);*/
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 236px;
    margin: 9px;
    border-radius: 51px;
    max-width:200px;
}
.col-1 {
    top: 130%;
    left: 0%;
    position: absolute;
}
