@page "/home"

<div class="container2" align ="center">
                <div class="row">
                    <div class="col">
                        <div class="card-deck">
                            <a class="pt-2">
                                <div class="card onhover" style="width: 14rem;background: transparent; border-color:transparent;">
                                    <img class="card-img-top p-1" style="border-radius:20px; width:193px;" src="Reports.png">

                                    <p style="font-weight:bold; font-size:30px; color:white;margin:-70px;">التقارير</p>

                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="col">
                        <div class="card-deck">
                            <a class="pt-2">
                                <div class="card onhover" style="width: 14rem;background: transparent; border-color:transparent;">
                                    <img class="card-img-top p-1" style="border-radius:20px; width:193px;" src="tst.png">

                                    <p style="font-weight:bold; font-size:30px; color:white;margin:-70px;">الاتصالات</p>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-deck">
                            <a class="pt-2" href="/home/systems">
                                <div class="card onhover" style="width: 14rem;background: transparent; border-color:transparent;">
                                    <img class="card-img-top p-1" style="border-radius:20px; width:193px;" src="tst2.png">

                                    <p style="font-weight:bold; font-size:30px; color:white;margin:-70px;"> CRM</p>

                                </div>
                            </a>
                        </div>
                    </div>
                    </div>
    <div class="row">
        <div class="col-1">
            <div class="card-deck">
                <a class="pt-2" href="/setting">
                    <div class="card onhover" style="width: 5rem;background: transparent; border-color:transparent;">
                        <img class="card-img-top p-1" style=" width:100px;" src="setting.png">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

        @code {

        }
