@page "/home/systems/manage"

    @*<div class="login-box">
        <h2>Login</h2>
        <form>
            <div class="user-box">
                <a href="/setting">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    اداره السيستم
                </a>
            </div>
            <div class="user-box">
                <a href="/managesystem">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    ملف الموظفين
                </a>
            </div>
            <div class="user-box">
                <a href="/attendancepage">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                     الحضور والانصراف
                </a>
            </div>

        </form>
        </div>*@

<div class="container3" align="center">
    <div class="row">
        <div class="col">
            <div class="card-deck">
                <a class="pt-2" href="/home/systems/manage/setting">
                    <div class="card onhover" style="width: 14rem;background: transparent; border-color:transparent;">
                        <img class="card-img-top p-1" style="border-radius:20px; width:193px;" src="DashBoard.png">

                        <p style="font-weight:bold; font-size:30px; color:white;margin:-70px;"> اداره السيستم</p>

                    </div>
                </a>
            </div>

        </div>
        <div class="col">
            <div class="card-deck">
                <a class="pt-2">
                    <div class="card onhover" style="width: 14rem; background: transparent; border-color: transparent; ">
                        <img class="card-img p-1" style="border-radius: 20px; width:193px;" src="employee.png">

                        <p style="font-weight:bold; font-size:30px; color:white; margin:-70px;">ملف الموظفين</p>

                    </div>
                </a>
            </div>
        </div>



    </div>
</div>




            @code {

            }
