@page "/home/systems"

<div class="container3" align="center">
    <div class="row">
        <div class="col">
            <div class="card-deck">
                <a class="pt-2" href="/home/systems/manage">
                    <div class="card onhover" style="width: 14rem;background: transparent; border-color:transparent;">
                        <img class="card-img-top p-1" style="border-radius:20px; width:193px;" src="Payroll.png">

                        <p style="font-weight:bold; font-size:30px; color:white;margin:-5px;"> سيستم شؤون العاملين</p>

                    </div>
                </a>
            </div>

        </div>
        <div class="col">
            <div class="card-deck">
                <a class="pt-2">
                    <div class="card onhover" style="width: 14rem; background: transparent; border-color: transparent; ">
                        <img class="card-img p-1" style="border-radius: 20px; width:193px;" src="cofeer.png">

                        <p style="font-weight:bold; font-size:30px; color:white; margin:-5px;">سيستم الكوافير</p>

                    </div>
                </a>
            </div>
        </div>



    </div>
</div>



















@code {

}
