@page "/attendancepage"



<div class="container" align="center">
    <div class="row">
        <div class="col">
            <button id="foot">
                <button class="button-os">
                    <a href="/enterr">حضور</a>
                </button>
            </button>

        </div>
        <div class="col">
            <button id="foot">
                <button class="button-os">
                    <a href="/out">انصراف</a>
                </button>
            </button>
        </div>
    </div>
  
    </div>




        @code { }
