@page "/Delaysettings"







<div class="container" dir="rtl"style="color: wheat;">
    <div class="row row-cols-2">
        <div class="col">
            <form class="form-control" align="right">
                <h1>اعدادات التآخيرات</h1>
                <div>
                    <label>دقيقه</label>
                    <input type="number" placeholder="الخصم بالدقيقه" />
                </div>
                <div>
                    <label>ساعه</label>
                    <input type="number" placeholder="الخصم بالساعه" />
                </div>
            </form>
        </div>
        <div class="col">
            <form class="form-control">
                <h1>اعدادات الاوفر تايم</h1>
                <div>
                    <label>دقيقه</label>
                    <input type="number" placeholder="الذياده بالدقيقه" />
                </div>
                <div>
                    <label>ساعه</label>
                    <input type="number" placeholder="الذياده بالساعه" />
                </div>




            </form>
        </div>
        <button class="btn btn-success" >حفظ</button>
    </div>
</div>
@code {
   
   }
