@page "/home/systems/manage/setting"



<div class="container" align="center" >
    <div class="row row-cols-3">
        <div class="col">
            <button id="foot">
                <button class="button-os">
                    <a href="/empolyeeSetting">اعدادات شؤون العاملين</a>
                </button>
            </button>
            @*<a href="/empolyeeSetting">
                <h1>اعداد شؤون العاملين</h1>
            </a>*@


        </div>
        <div class="col">
            <button id="foot">
                <button class="button-os">
                    <a href="/Delaysettings">اعدادات التأخيرات</a>
                </button>
            </button>
            @*<a href="/Delaysettings">
                <h2>اعداد التآخيرات</h2>
            </a>*@

        </div>
    </div>
</div>

<div class="container" align="center">
    <div class="row row-cols-3">
        <div class="col">
            <button id="foot">
                <button class="button-os">
                    <a href="/empshift">اعدادات الورديات</a>
                </button>
            </button>
            @*<a href="/empshift">
                <h1>اعداد الورديات</h1>
            </a>*@


        </div>
        <div class="col">
            <button id="foot">
                <button class="button-os">
                    <a href="/empjop">اعداد نوع العمل </a>
                </button>
            </button>
            @*<a href="/empjop">
            <h2>اعداد نوع العمل</h2>
        </a>*@

        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="foot">
                <button class="button-os">
                    <a href="/allempp">طباعه جميع بيانات الموظفين</a>
                </button>
            </button>
            @*<a href="/allempp">
                <h3>طباعه جميع بيانات الموظفين</h3>
            </a>*@
        </div>
        <div class="col">
            <button id="foot">
                <button class="button-os">
                    <a href="/datebegain">تحدد تاريخ حساب السيستم</a>
                </button>
            </button>
            @*<a href="/datebegain">
                <h4>تحدد تاريخ حساب السيستم</h4>
            </a>*@
        </div>

    </div>
</div>








@code {

}
