@page "/managesystem"





<div class="container" align="center" >
    <div class="row row-cols-3">
        <div class="col">
            <button id="foot">
                <button class="button-os">
                    <a href="/incentives">حوافز</a>
                </button>
            </button>

        </div>
        <div class="col">
            <button id="foot">
                <button class="button-os">
                    <a href="/discount">الخصم </a>
                </button>
            </button>


        </div>
    </div>
</div>

<div class="container" align="center">
    <div class="row row-cols-3">
        <div class="col">
            <button id="foot">
                <button class="button-os">
                    <a href="/Loans">السلف</a>
                </button>
            </button>


        </div>
        <div class="col">
            <button id="foot">
                <button class="button-os">
                    <a href="/dayattend">ايام الحضور</a>
                </button>
            </button>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="foot">
                <button class="button-os">
                    <a href="/Empsalaryy">الراتب</a>
                </button>
            </button>
        </div>

    </div>
</div>






@code { }
